<ul class="list-unstyled mb-0 py-3 pt-md-1">
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ai-collapse" aria-expanded="true">
      기초
    </button>
    <div class="collapse show" id="ai-collapse">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a href="/ai/인공지능기초_01주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '01주차' %}active{% endif %}">1주차: 인공지능의 이해</a></li>
        <li><a href="/ai/인공지능기초_02주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '02주차' %}active{% endif %}">2주차: 머신러닝 1</a></li>
        <li><a href="/ai/인공지능기초_03주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '03주차' %}active{% endif %}">3주차: 머신러닝 2</a></li>
        <li><a href="/ai/인공지능기초_04주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '04주차' %}active{% endif %}">4주차: 머신러닝 3</a></li>
        <li><a href="/ai/인공지능기초_05주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '05주차' %}active{% endif %}">5주차: 데이터 전처리</a></li>
        <li><a href="/ai/인공지능기초_07주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '07주차' %}active{% endif %}">7주차: 선형 회귀 분석</a></li>
        <li><a href="/ai/인공지능기초_09주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '09주차' %}active{% endif %}">9주차: 지도 학습 분류</a></li>
        <li><a href="/ai/인공지능기초_11주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '11주차' %}active{% endif %}">11주차: 딥러닝</a></li>
        <li><a href="/ai/인공지능기초_12주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '12주차' %}active{% endif %}">12주차: 이미지와 음성 패턴 인식</a></li>
        <li><a href="/ai/인공지능기초_13주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '13주차' %}active{% endif %}">13주차: 텍스트 데이터 분석</a></li>
      </ul>
    </div>
  </li>
</ul>
