<ul class="list-unstyled mb-0 py-3 pt-md-1">
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#createAI-collapse" aria-expanded="true">
      생성형AI
    </button>
    <div class="collapse show" id="createAI-collapse">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a href="/createAI/week1/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week1/' %}active{% endif %}">1주차: 생성형AI 이해와 활용</a></li>
        <li><a href="/createAI/week2/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week2/' %}active{% endif %}">2주차: 생성형AI 이해와 활용</a></li>
        <li><a href="/createAI/week3/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week3/' %}active{% endif %}">3주차: 생성형AI 이해와 활용</a></li>
        <li><a href="/createAI/week4/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week4/' %}active{% endif %}">4주차: 거대언어모형(LLM)의 이해</a></li>
        <li><a href="/createAI/week5/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week5/' %}active{% endif %}">5주차: 생성형AI의 이해와 활용</a></li>
        <li><a href="/createAI/week6/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week6/' %}active{% endif %}">6주차: 생성형AI의 이해와 활용</a></li>
        <li><a href="/createAI/week7/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week7/' %}active{% endif %}">7주차: 생성형AI의 이해와 활용</a></li>
        <li><a href="/createAI/week10/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week10/' %}active{% endif %}">10주차: 생성형AI의 이해와 활용</a></li>
        <li><a href="/createAI/week11/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week11/' %}active{% endif %}">11주차: 생성형AI의 이해와 활용</a></li>
        <li><a href="/createAI/week14/" class="d-inline-flex align-items-center rounded {% if page.url contains 'week14/' %}active{% endif %}">14주차: 생성형AI의 이해와 활용</a></li>
      </ul>
    </div>
  </li>
</ul>
