<ul class="list-unstyled mb-0 py-3 pt-md-1">
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#bert-collapse" aria-expanded="true">
      자연어처리
    </button>
    <div class="collapse show" id="bert-collapse">
      <ul class="list-unstyled fw-normal pb-1 small">
        <li><a href="/bert/자연언어처리_01주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '01주차' %}active{% endif %}">1주차: 자연어 처리 소개</a></li>
        <li><a href="/bert/자연언어처리_02주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '02주차' %}active{% endif %}">2주차: 텍스트 전처리와 언어 모델</a></li>
        <li><a href="/bert/자연언어처리_03주차/" class="d-inline-flex align-items-center rounded {% if page.url contains '03주차' %}active{% endif %}">3주차: 단어 임베딩과 문서 분류</a></li>
      </ul>
    </div>
  </li>
</ul>
