---
layout: bootstrap
---

<div class="container bd-gutter mt-3 my-md-4 bd-layout">
    <aside class="bd-sidebar scrollBar">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar"
            aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">학습목차</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#bdSidebar"></button>
            </div>

            <div class="offcanvas-body">
                <!-- 네비게이션 -->
                {% include nav_python.html %}
            </div>
        </div>
    </aside>

    <main class="bd-main order-1">
        {% include breadcrumb.html %}
        <div class="bd-content ps-lg-4">
            {{content}}

            <!-- 구글 애드센스 출력 -->
            <div class="mt-5">
                {% include adsense.html %}
            </div>
        </div>

        {% include bookmark.html %}
    </main>
</div>